* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #878A8D;
    background: white;
    padding: 0 0;
    /* background-image: url("https://www.transparenttextures.com/patterns/soft-pad.png"); */
}

html {
    font-family: "Montserrat", sans-serif;
}

/* ------------------------ navbar part -------------------- */

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-top: 0;
    border-style: none none solid none;
    border-color:#fac100;
}

.navbar {
    padding: 10px 10% 5px 10%;
}

.navbar-light .logo {
    height: 25px;
    width: 100px;
    padding: 0%;
    margin: 0;
}

.navbar-light .nav-item .nav-link {
    margin: 0;
    color: #a600ff;
    font-size: 1.4rem;
    font-family: 'Hi Melody', cursive;
}

.navbar-light .nav-item .nav-link:hover {
    color: #fac100;
}

/* ----------------------------- Home ------------------------- */

.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px auto 0 auto;
    background: #f4f4f4;
}

/* ------------- home social part -------- */

.home-social {
    /* background-color: #00b0ff; */
    display: inline-block;
    flex: 6%;
    max-width: 6%;
    padding-top: 5%;
    text-align: center;
    vertical-align: top;
    /* padding-top: 63px; */
}

.btn-style {
    display: inline-block;
    margin: 10px 30px;
}


@media(max-width: 800px) {
    .google-btn{
        margin: 10px 10px 80px 10px;
    }
}

@media(max-width: 600px) {
    .home-social {
        flex: 10%;
        max-width: 10%;
    }

    .btn-style{
        margin: 10px;
    }
}

.home-social-icon {
    margin: 10px auto;
    font-size: 1.2rem;
    color: #a600ff;
}

.home-social-icon:hover {
    /* color: #ffd500; */
    color: #fac100;
}

/* ---------- home left part------- */

.home-left {
    display: inline-block;
    flex: 47%;
    max-width: 47%;
    padding-left: 3%;
    padding-top: 1%;
    /* vertical-align: top; */
}

@media(max-width: 600px) {
    .home-left {
        flex: 90%;
        max-width: 90%;
    }
}

.home-name {
    margin-top: 30px;
    line-height: 0.1;
}

.home-name-greet {
    font-size: 1rem;
    color: #fac100;
}

.home-name-fullname {
    color: #a600ff;
    font-family: 'Comic Neue', serif;
    font-size: 3rem;
}

.home-left-job {
    line-height: 1;
    font-size: 1.5rem;
    font-family: 'Comic Neue', serif;
    color: #a600ff;
}

.home-left-description {
    margin-top: 10px;
    line-height: 1.5;
}

.home-left-buttons {
    margin-top: 70px;
    text-align: center;
}

@media(max-width: 600px) {
    .home-left-buttons {
        margin-top: 10px;
    }
}

/* ---------- home right part --------- */

.home-right {
    display: inline-block;
    text-align: center;
    flex: 47%;
    max-width: 47%;
    height: 50%;
    vertical-align: top;
}

.home-my-picture {
    margin: auto;
    vertical-align: top;
    /* width: 100%;
    height: 100%; */
}

@media(max-width: 600px) {
    .home-right {
        flex: 100%;
        max-width: 100%;
    }
}

/* ------------------------------ Additional Info ----------------------------------- */

.additional-info-container {
    position: relative;
    width: 100%;
    height: 150px;
    text-align: center;
    bottom: 75px;
    padding: 1%;
}

.additional-info {
    background: white;
    width: 60%;
    border-radius: 70px;
    -webkit-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.75);
    display: inline-block;
    padding: 2% 0;
    text-align: center;
    /* margin: 10px auto; */
}

@media(max-width: 800px){
    .additional-info{
        width: 80%;
    }
}

@media(max-width: 600px){
    .additional-info{
        width: 97%;
    }
}

.item-container-second{
    display: inline-block;
    width: 30%;
}

.additional-item-container {
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    color: white;
    width: 100%;
}

.additional-img-container {
    /* display: inline-block; */
    font-size: 2rem;
    flex: 30%;
    max-width: 30%;
}

.additional-img {
    border-radius: 30px;
    padding: 10px;
    background: #fac100;
    height: 55px;
    width: 55px;
}

.addtional-item-info {
    text-align: left;
    padding: 4% 0 10px 4%;
    flex: 70%;
    max-width: 70%;
    line-height: 0.1rem;
}

@media(max-width: 800px){
    .additional-img-container{
        text-align: center;
        flex: 100%;
        max-width: 100%;
    }   

    .addtional-item-info{
        margin-top: 5px;
        text-align: center;
        flex: 100%;
        max-width: 100%;
    }
}

@media(max-width: 600px){
    
}

.addtional-item-info .additional-item1 {
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 1.1rem;
    display: inline-block;
}

.addtional-item-info .additional-item2 {
    color: #fac100;
    font-family: 'Hi Melody', cursive;
    font-size: 1rem;
    display: inline-block;
}

/* --------------------------- About ----------------------- */

.about-container {
    position: relative;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 50px auto;
}
/* ----------- about my image part(middle) -------- */

.about-my-img-container {
    position: relative;
    display: flex;
    opacity: 0.2;
    flex: 30%;
    max-width: 30%;
    padding: 5% 0;
}

@media(max-width: 800px){
    .about-my-img-container{
        display: none;
    }
}

.about-my-img {
    display: inline-block;
    opacity: 0.9;
    padding-right: 5%;
    margin: auto;
}

/* ------------- about details part (right) ----------- */

.about-details-base-cont{
    flex: 50%;
    max-width: 50%;
    margin: auto;
}

@media(max-width: 800px){
    .about-details-base-cont{
        flex: 100%;
        max-width: 100%;
    }

    .about-title-container{
        text-align: center;
    }

    .about-interests-base-cont{
        text-align: center;
    }
}

.about-details-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

.about-details-container .my-intro {
    color: #fac100;
}

.about-details-container .about-me {
    display: inline-block;
    border-style: solid;
    text-align: center;
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 3rem;
    line-height: 0.7;
    padding: 2%;
    border-color: #fac100;
}

.about-details-container .about-description {
    line-height: 1.2;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.about-details-container .my-interests {
    font-family: 'Hi Melody', cursive;
    color: #a600ff;
    font-size: 1.5rem;
}

.about-details-container .about-me-info {
    line-height: 0.3rem;
}

.about-details-container .about-me-info p {
    line-height: 1;
    vertical-align: bottom;
}

.about-details-container .about-me-info i {
    color: #fac100;
}

.about-details-container .about-me-info strong {
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 1.3rem;
}

.about-details-container .about-me-info span:hover {
    color: #fac100;
}

/* ------------ interests part--------- */

.about-details-container .my-interests {
    line-height: 0;
    padding-top: 5%;
}

.about-interests-container {
    width: 100%;
    margin-top: 0;
}

.about-interests-container p {
    display: inline-block;
    margin-right: 10px;
    line-height: 0;
}

.about-interests-container i {
    color: #fac100;
}

.about-interests-container span {
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 1.3rem;
}

/* ----------------------------- Skills part ---------------------------------- */

.skills-container {
    background: #f4f4f4;
    padding: 3% 0 0 0;
    width: 95%;
    margin: auto;
}

.skills-container .skills-list {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    vertical-align: top;
}

.skills-container>div>p {
    display: inline-block;
    border-style: solid;
    text-align: center;
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 3rem;
    line-height: 0.5;
    padding: 2%;
    border-color: #fac100;
}

.skills-container .read-more-button {
    text-align: center;
    padding: 10% 0 1% 0;
    background: linear-gradient(0deg, rgba(199, 161, 219, 1) 0%, rgba(228, 201, 242, 1) 15%, rgba(244, 244, 244, 1) 100%);
}

/* ------------------------------ Achievements part -------------------------- */

.achievements-container {
    width: 80%;
    margin: 200px auto 300px auto;
    /* border-style: solid; */
    /* border-color: 10px grey; */
}

.achievements-container .achieve-title p {
    display: inline-block;
    border-style: solid;
    text-align: center;
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 3rem;
    line-height: 0.5;
    padding: 2%;
    border-color: #fac100;
}

.myClass {
    /* color: #a600ff !important; */
    background: #fac100;
}

/* ---------------------------------- Projects ----------------------------------- */
.projects-container {
    /* padding: "50% 0"; */
    width: 95%;
    background: #f4f4f4;
    margin: auto;
    text-align: center;
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
}

.projects-container .projects-title p{
    margin: 30px auto;
    display: inline-block;
    border-style: solid;
    text-align: center;
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 3rem;
    line-height: 0.0;
    padding: 30px;
    border-color: #fac100;
}

.projects-container .projects-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-pr-media-item{
    position: relative;
        flex: 45%;
        max-width: 45%;
        padding: 0 1%;
        margin: 5px;
        background: white;
        justify-content: space-around;
        -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
        border-radius: 10px;
        transition: background 0.3s ease-in-out;
        cursor: pointer;
}

@media(max-width: 800px) {
    .single-pr-media-item {
        flex: 100%;
        max-width: 100%;
    }
}

/* ----------------------------- Posts Container ---------------------------- */

.posts-base-container {
    margin-bottom: 200px;
    text-align: center;
}

.posts-container {
    margin: auto;
    width: 95%;
    box-sizing: border-box;
    padding: 2%;
    background: white;
}

.posts-container .posts-title p {
    display: inline-block;
    border-style: solid;
    text-align: center;
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 3rem;
    line-height: 0.5;
    padding: 1% 2%;
    border-color: #fac100;
}

.posts-container .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.posts-container .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.posts-container .column .singleItem {
    margin-top: 8px;
    vertical-align: middle;
}

@media(max-width: 800px) {
    .posts-container .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media(max-width: 600px) {
    .posts-container .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* ------------------------------- Contact Me ----------------------- */

.contactme-container {
    margin-bottom: 200px;
    text-align: center;
    width:95%;
    margin: auto;
    background: #f4f4f4;
}

.contactme-container .contactme-title {
    text-align: center;
    margin-bottom: 30px;
}

.contactme-container .contactme-title p {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
    font-size: 3rem;
    line-height: 0.5;
    padding: 10px 2%;
    border-style: solid;
    border-color: #fac100;
}

.contactme-bottom-cont {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
    box-sizing: border-box;
    text-align: left;
}

.contactme-bottom-cont .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.contactme-bottom-cont .contact-left {
    padding: 0 5% 0 0;
}

@media(max-width: 800px) {
    .contactme-bottom-cont .column {
        flex: 100%;
        max-width: 100%;
    }

    .send-btn-contact{
        text-align: center;
    }
}


.contactme-bottom-cont .in-title {
    text-align: center;
    color: #a600ff;
    font-family: 'Hi Melody', cursive;
}

.contactme_item_single i {
    font-size: 1.5rem;
    margin: auto;
    padding: 10px 0;
    color: white;
    transition: color 0.8s ease-in-out;
}

.form-control:focus {
  border-color: #fac100;
  box-shadow: inset 0 1px 1px rgba(250, 193, 0, 0.015), 0 0 8px rgba(250, 193, 0, 0.5);
}

.form-control{
    border: 1.3px solid #DFDFDF;
}

/* --------------------------- Footer ----------------------- */

footer {
    /* background-color: #0097e6; */
    position: relative;
    color: white;
    text-align: center;
    width: 100%;
    /* height: 2rem; */
    padding:  30px 0;
}

footer p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #a600ff; 
}